body {
    margin:0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", "sans-serif";
    box-sizing: border-box; 
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
}
.fondo1{
background-image: url(./img/fondo1.png);
}
main {
    flex:1;
}
.centrar {
width: 100%;
background: #009FDA;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.menu .logo {
display: inline-block;   
margin-right: 1em; 
}
.menu .logo .LATAM {
    vertical-align: top;
    height: 22px;
} 
.logo {
    width: 100%;
    margin: 10px auto;
    align-content: center;
}
.latam
 {
width: 320px;
}
.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-nav {
    line-height: normal;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #009FDA;
    border: none;
}

.menu :hover{
    background: #002245;
    border-radius: 1px;
}

h1 {
    overflow: hidden;
    height: 0px;
    width: 0px;
    margin:0;
  }
.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
}
.contenedor1 {
    height: auto;
    display: flex;
    flex-direction: column;  
}
.contenedor2 {
    height: auto;
    display: flex;
    flex-direction: column;  
}
.recuadro {
    background: rgba(51, 121, 183, 1);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 568px;
    margin: auto;
    font-family: 'Open Sans';
    color: #141313;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.recuadro1 {
    font-size: 16px;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    line-height: 25px;
}
.caja {
    width: 280px;
    height: 45px;
}
.boton {
    background: #002245;
    border-radius: 5px;
    border: 0px;
    width: 280px;
    height: 50px;
    color: white;
    font-size:15px;
}
.negrita {
    font-weight: bold;
}
.centrado{
    text-align: center;
}
.derecha {
    text-align: right;
    margin-top: 0px;
}
.blanco {
    color: whitesmoke;
    font-size: 20px;
}
 .banco-mundial {
    background: rgba(255, 251, 251, 0.9); 
    color: #002245;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    width: 100%;
} 
.fondo-blanco {
    background: rgba(255, 251, 251, 0.9); 
    color: #002245;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    width: 100%;
}
.descripcion {
    background-color: rgba(255, 251, 251, 0.9);
    width: 100%;
    height: 150px;
    margin: 0 auto;
    color: #002245;
    text-align: justify;
}
.texto{
    margin: 5px 10px;
    vertical-align: center;
}
.rrss{
    width: 40px;
    height: 30px;
}
.caja-diapositivas {
    width : 100%;
    display: flex;
    margin: 30px auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.slide {
    width: 100%;
} 
.diapositivas ul {
    list-style: none;
    width: 300%;
    padding-left: 0px;
    display: flex;
    animation: slide 20s infinite alternate;
    animation-timing-function: ease-in;
} 
@keyframes slide {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}
.recuadro-lateral{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}
.recuadro-resultado{
  display: flex;
  flex-flow: row wrap;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.caja-indicadores{
    width: 90%;
    }
.tabla-datos{
    width: 80%;
    margin: auto;
    color: #002245;
    text-align: center;
    border-spacing: 0;
    border: 1px solid #ddd; 
    font-size: 20px;
}
table, th, td {
    border: 1px solid #002245;
} 
.parametro {
    background: #0071BC;
    width: 90%;
    border-radius: 15px;
    margin: 5px auto;
}
  th, td {
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  .area-btn {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 20px;
  }
  .margen{
      margin: 20px auto;
  }
footer{
    font-size: 15px;
    color: whitesmoke;
    text-align:center;
    width: 100%;
    margin: 0px auto;
    background: #009FDA;
}
.txt-final { 
margin: 0px;
}
.fondo2{
    background: whitesmoke;
}
.fondo3{
    background:url('./img/fondo3.png');
    background-size: cover;
  }
.ocultar {
    display: none;
}
.mostrar {
    display: block;
}
/*Aqui va mi pantalla grande */
@media screen and (min-width:764px){
    body {
        background: url(./img/LatinAmericanCities.jpg),linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-repeat: no-repeat;
        background-size: cover;
        /*background: rgb(51, 121, 183);*/ 
    }
    .centrar {
        display: flex;
        flex-flow: row;
    }
    .LATAM {
        width: 50%;
        }
    .menu{
        padding: 1em;
    }
    .btn-nav {
        font-size: 20px;
        }

    .recuadro {
        width: 460px;
        height: 516px;
    }
    .logo {
        width: 100%;
        height: 100px;
        margin: 0px auto;
    }
    .caja {
        width: 335px;
    }
    .boton {
        align-self: center;
    }
    .banco-mundial {
        width: 50%;
    }
    .fondo-blanco {
        width: 300px;
        height: 475px;
    }
    .descripcion{
        font-size: 20px;
        height: 130px;
    }
    .texto{
        margin-top: 20px;
    }
    .caja-diapositivas{
        max-width: 1280px; 
    }
    .contenedor2 {
        flex-flow: row;  
    }
    .recuadro-lateral{
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    .listado {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .recuadro-resultado{
        width: 100%;
        flex-flow: row nowrap;
      }
    .tabla-datos{
        width: 50%;
    }
    .parametro {
        width: 80%;}
    .caja-indicadores{
    width: 80%;
    }
    .area-btn{
        width: 30%;
        height: auto;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        height: 50px;
        align-items: center;
    }
    .ocultar {
        display: none;
    }
    .mostrar {
        display: block;
    }
}